@model List<UserViewModel>
@using Microsoft.AspNetCore.Http

@{
    var currernUser = Context.Request.Cookies["userGuid"];
}




<div class="text-center">
    <h1 class="display-4">Добро пожаловать!</h1>

    <h2 class="home__subtitle">Возможные друзья</h2>
    <div class="home__friends">
        @foreach(var user in Model)
        {
            <div class="home__friends__card">
                <div class="home__friends__card-image-container">
                    <img src="~/images/sidebar/profile-icon.jpg" class="home__friends__card-image" />
                </div>
                <div class="home__friends__card-name">
                    <a asp-controller="Home" asp-action="Profile" asp-route-id=@user.Id>@user.FirstName @user.LastName</a>
                    <span> • @user.UserName</span>
                </div>
                <p class="home__friends__card-info">@user.City</p>
                @if (user.OutgoingRequests.Where(f => f.AcceptorId.ToString() == currernUser && !f.IsAccept).Count() != 0)
                {
                    <a class="btn home__friends__card-button" asp-controller="FriendshipRequest" asp-action="Incoming">Ответить на заявку</a>
                }
                else
                {
                    <a class="btn home__friends__card-button" asp-controller="FriendshipRequest" asp-action="Add" asp-route-id="@user.Id">Добавить</a>
                }
            </div>
        }
    </div>
</div>
